
<div id="Merch" class="p-10 mx-10">
  <h2 class="mb-2 titulos">Merch</h2>
  <table class="mt-5 table w-full border border-zinc-500 border-collapse dark:text-zinc-100">
    <thead class="text-lg font-bold">
      <tr>
        <td class="border border-zinc-500 p-3">Merch</td>
        <td class="border border-zinc-500 p-3">Preço</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-zinc-500 py-2 px-3">T-shirt</td>
        <td class="border border-zinc-500 py-2 px-3">10€</td>
      </tr>
      <tr>
        <td class="border border-zinc-500 py-2 px-3">Hoodie</td>
        <td class="border border-zinc-500 py-2 px-3">25€</td>
      </tr>
    </tbody>
    <caption class="caption-bottom mt-2 dark:text-zinc-100">
      Uma vez que esgotados, esgotaram!
    </caption>
  </table>
</div>
