<div
  *ngIf="isOpen"
  class="absolute bg-linear-to-r from-gray-500 to-gray-200 left-0 w-full top-[50px] transition-all duration-300"
>
  <div class="relative flex h-full cursor-pointer items-center justify-center p-4 font-bold hover:bg-white/5 hover:text-zinc-700 transition-colors ease-in-out text-white">Home</div>
  <div class="relative flex h-full cursor-pointer items-center justify-center p-4 font-bold hover:bg-white/5 hover:text-zinc-700 transition-colors ease-in-out text-white ">Lineup</div>
  <div class="relative flex h-full cursor-pointer items-center justify-center p-4 font-bold hover:bg-white/5 hover:text-zinc-700 transition-colors ease-in-out text-white ">Tickets</div>
  <div class="relative flex h-full cursor-pointer items-center justify-center p-4 font-bold hover:bg-white/5 hover:text-zinc-700 transition-colors ease-in-out text-white ">Support</div>
</div>
