<footer id="contacts" class="bg-linear-to-b from-gray  to-gray-300 text-gray-300 py-8 text-center">
  <!-- Logo ou Nome -->
  <div class="mb-4 flex flex-col items-center">
    <img src="/images/woodplan-logo.png" alt="Logo da Marca" class="w-20 mb-2" />
  </div>

  <!-- Ícones das redes sociais -->
  <div class="flex justify-center space-x-4 mb-6">
    <a
      href="https://facebook.com/woodplanofficial"
      target="_blank"
      rel="noopener noreferrer"
      class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-700 hover:bg-gray-700 transition"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://instagram.com/woodplanofficial"
      target="_blank"
      rel="noopener noreferrer"
      class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-700 hover:bg-gray-700 transition"
    >
      <i class="fab fa-instagram"></i>
    </a>

    <a
      href="https://wa.me/351927245662"
      target="_blank"
      rel="noopener noreferrer"
      class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-700 hover:bg-gray-700 transition"
    >
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

  <!-- Direitos Autorais -->
  <p class="text-sm text-gray-500">
    © 2025 Minha Marca. Todos os direitos reservados.
    <span class="text-red-500">❤</span> Criado para a web.
  </p>
</footer>
