<div id="lineup" class="dark:text-zinc-100 p-10 mx-10">
  <h2 class="titulos mb-2">Próximos Concertos</h2>
  <p>Vê as nossas próximas datas e não percas o próximo concerto 🎸</p>

  <div class="rounded-lg relative mt-5 bg-zinc-800 py-4 px-2 text-zinc-200">
    <div
      class="absolute top-0 left-1/2 w-4 -ml-2 h-full rounded-full bg-gradient-to-b from-sky-900 via-cyan-900 to-teal-900"
    >
      <div class="sticky top-0.5">
        <div class="relative size-4">
          <div
            class="absolute size-4 animate-ping rounded-full bg-red-500 opacity-75"
          ></div>
          <div class="bg-red-500 rounded-full relative size-4"></div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-8 mt-4">
      <ng-container *ngFor="let dia of dias">
        <div class="p-2 bg-zinc-900 rounded-lg my-4 text-center">
          <h4 class="font-bold">
            {{ dia.data | date: "d 'de' MMMM" : '' : 'pt-PT' }}
          </h4>
        </div>

        <div>
          <ng-container *ngIf="dia.concertos.length > 0; else semConcerto">
            <div *ngFor="let c of dia.concertos" class="mb-3">
              <div class="font-bold">{{ c.nome }}</div>
              <div class="text-zinc-400">
                {{ c.hora }} - {{ c.local }}
              </div>
            </div>
          </ng-container>

          <ng-template #semConcerto>
            <div class="text-zinc-600 italic">Sem concertos marcados 🎶</div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>
