<div
  style="background-image: url('/images/hero-band.jpg')"
  class="bg-cover bg-center bg-fixed flex flex-col items-center justify-center h-[calc(100vh-200px)] min-h-[400px]"
>
  <div
    class="bg-white/30 py-4 px-4 rounded-xl text-center backdrop-blur-md flex flex-col items-center mt-10"
  >
    <div class="relative">
      <img src="/images/woodplan-logo-nobackground.png" width="400" alt="" />
      <div class="item-center flex justify-center mt-[-70px] mb-5">
        <div
          class="bg-white w-14 h-14 rounded-full flex items-center justify-center gap-1"
        >
          <div class="h-2 w-1 bg-gray-300 rounded-full animate-wavey"></div>
          <div
            class="h-3 w-1 bg-gray-200 rounded-full animate-wavey animation-delay-200"
          ></div>
          <div
            class="h-4 w-1 bg-gray-100 rounded-full animate-wavey animation-delay-150"
          ></div>
          <div
            class="h-3 w-1 bg-gray-200 rounded-full animate-wavey animation-delay-300"
          ></div>
          <div
            class="h-2 w-1 bg-gray-300 rounded-full animate-wavey animation-delay-75"
          ></div>
        </div>
      </div>
    </div>

  </div>
</div>
