<section id="aboutus" class="p-4 m-auto max-w-4xl">
  <div class="mb-5 mt-5">
    <h2 class="titulos text-center pb-2">Woodplan Crew</h2>
  </div>

  <!-- Cards das duas pessoas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 justify-items-center">
    <div
      *ngFor="let person of persons.slice(0, 2)"
      class="text-center w-48 h-64 rounded-lg shadow-md bg-gray-800 text-white overflow-hidden flex flex-col justify-between"
      [style.backgroundImage]="'url(' + person.image + ')'"
      [style.backgroundSize]="'cover'"
      [style.backgroundPosition]="'center'"
    >
      <div class="bg-black/50 p-2">
        <h3 class="text-lg font-semibold">{{ person.name }}</h3>
        <p class="text-xs uppercase text-gray-300">{{ person.cargo }}</p>
      </div>

      <div class="bg-black/50 p-2 text-xs text-gray-200 mt-auto">
        <div class="flex justify-center space-x-3 text-gray-300 mt-1">
          <a
            [href]="person.instagram"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-pink-500 transition-colors"
          >
            <i class="fab fa-instagram text-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
